$header-bg-color: #24223C;
$header-height: 50px;

$primary-color: #37393F;
$secondary-color: #676B74;
$text-color: #F5E9CF;
$highlight-color: #D8A659;

$delete-color: #F28246;
$save-color: #5D85BF;

$input-color: #EBECEB;
$input-placeholder-color: #B0B5B0;
